<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- URL Rewrite rules to proxy requests to Next.js -->
    <rewrite>
      <rules>
        <!-- Proxy all requests to Next.js server -->
        <rule name="ReverseProxyInboundRule" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="http://127.0.0.1:3000/{R:1}" />
        </rule>
      </rules>
      <outboundRules>
        <!-- Rewrite location headers -->
        <rule name="ReverseProxyOutboundRule">
          <match serverVariable="RESPONSE_Location" pattern="^http://127\.0\.0\.1:3000/(.*)" />
          <action type="Rewrite" value="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </outboundRules>
    </rewrite>
    
    <!-- Security headers -->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>
    
    <!-- Enable proxy -->
    <proxy enabled="true" preserveHostHeader="true" />
    
    <!-- WebSocket support -->
    <webSocket enabled="true" />
  </system.webServer>
</configuration>